@import 'src/styles/theme/index.scss';

.input-wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $header-font-color;
  width: 80vw;

  button {
    height: 25px;
    width: 25px;
    border: 0;
    background-color: transparent;

    &-eyes {
      height: 10px;
      width: 10px;
    }
  }

  label {
    color: $description-font-color;
    font-weight: 400;
    line-height: 28px;
    font-size: 12px;
  }

  input {
    line-height: 28px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    border: 0;
  }
}


