@import 'src/styles/theme/index.scss';

.login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  height: 65vh;

  &-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  &-button {
    position: absolute;
    bottom: 30px;
  }

  &-recover {
    display: flex;
    justify-content: flex-end;
    width: 80vw;
    color: $main-font-color;
  }
}
