@import 'src/styles/theme/index.scss';

.client-layout {
  display: flex;
  flex-direction: column;
  background-color: $main-background-color;
  min-height: 100vh;
  height: 100%;

  &-empty {
    height: 9vh;
  }
}
