@import 'src/styles/theme/index.scss';

.history {
  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
      border-radius: 20px;
      box-shadow: 0 0 5px 1px rgba(34, 60, 80, 0.1);
      background-color: $items-background-color;

      p {
        color: $description-font-color;

        b {
          color: $main-font-color;
        }
      }
    }
  }
}
