@import 'src/styles/theme/index.scss';

.auth-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 40px 40px;
  box-shadow: 0 0 10px 1px rgba(34, 60, 80, 0.1);
  height: 35vh;
  background-color: #FFFFFF;

  &-title {
    font-weight: bold;
    font-size: 28px;
    color: $header-font-color;
  }

  &-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $description-font-color;
  }

  &-buttons {
    position: absolute;
    bottom: 0;
    font-weight: 400;
    font-size: 18px;

    button {
      width: 40vw;
      padding: 15px;
      border: 0;
      color: #2B2D33;
      background: transparent;
    }

    .isActive {
      border-bottom: 2px solid $main-button-background-color;
    }
  }
}
