@import 'src/styles/theme/index.scss';

.nav-img {
  height: 5vh;
  width: 5vh;
}

.active {
  border-bottom-style: solid;
  border-bottom-color: $main-button-background-color;
  border-bottom-width: 2px;
}
