@import 'src/styles/theme/index.scss';

.btn {
  background-color: $main-button-background-color;
  border: 0;
  border-radius: 15px;
  height: 45px;
  width: 250px;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.3);
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25vw;
  border: 0;
  border-radius: 20px;
  box-shadow: 4px 4px 13px -7px rgba(34, 60, 80, 0.2);
  font-weight: 400;
  line-height: 28px;
  color: $main-font-color;
  background-color: $items-background-color;
}

.active-btn {
  background-color: $main-button-background-color;
}
